/**
 * Signed in home box stylesheet
 *
 * @author Pierre HUBERT
 */

.home_box {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.home_box .box_heading{
	text-align: center;
	font-size: 90%;
	padding-bottom: 10px;
}